@model HashingViewModel

@{
    ViewData["Title"] = "Hashing";
}

<h1>@Model.OutputHashed</h1>

<form method="post">
    <fieldset>
        <legend>Hash a text here</legend>
        <div class="mb-3">
            <label for="hashing" class="form-label">Text to hash</label>
            <input type="text" name="hashing" class="form-control"/>
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit btn btn-primary" />
        </div>
    </fieldset>
</form>

<div class="bg-green">
    <h1 class="text-decoration-underlined">Hashed string</h1>
    <p>value here</p>

    <h1>Original value</h1>
    <p></p>
</div>